<template name="builds">
  <form>
    <input name="specOptions" placeholder="spec" {{b "value: specOptions" }} required>
    <input type="submit" name="submit" value="Add new build" {{b "click: submit"}}>
  </form>
  <ol>
    {{#each builds}}
      <li data-id="{{_id}}">
        <button {{b "click: destroy(this)"}}>Destroy</button>
        <a href="builds/{{_id}}">
          {{ createdAt }} - <pre>Build: {{ _id }}</pre> - <pre>Job: {{ jobId }}</pre> - {{ specOptions }}
        </a>
      </li>
    {{/each}}
  </ol>
</template>
