<template name="log">
  {{#unless loaded }}{{> spinner}}{{/unless}}

  <a class="btn btn-primary" href="/builds/{{ resource.data.buildId }}">Back to build</a>

  <h1>Job <small>{{ resource.data.path }}</small></h1>

  <button class="btn btn-default" {{b "click: fetchLog()"}}>Reload</button>
  <button class="btn btn-default" {{b "toggle: prettyMode" }}>
    {{#if prettyMode}}Detailed{{else}}Pretty{{/if}}
  </button>
  <button class="btn" {{b "toggle: autoReload, class: autoReloadClass" }}>Watch</button>
  {{#if prettyMode }}
    <pre>{{ prettyLog }}</pre>
  {{else}}
    <ul class="list-group">
      {{#each detailedLog }}
        <li class="list-group-item">
          {{> log_entry }}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <button class="btn btn-default" {{b "click: fetchLog()"}}>Reload</button>
</template>

<template name="log_entry">
  <span class="badge">{{ level }}</span>
  <p>{{ time }} {{#if runId }}- Run: {{ runId }}{{/if}}</p>
  {{#if durationMilliseconds }}
    <p>Duration: {{ formatDuration durationMilliseconds }}</p>
  {{/if}}
  <pre>{{ message }}</pre>
</template>
